.page {
  background-color: #f3f3f3;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  max-width: 1440px;
}

.page__background {
  background-image: url(../../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page__content {
  max-width: 1360px;
  padding: 0 20px;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .page__content {
    max-width: 768px;
    padding: 0 20px;
    min-height: 100vh;
  }
}
