.footer {
  display: flex;
  font-family: "Roboto";
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  background-color: #fff;
}
.footer-links__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin-right: 20px;
}

.footer__content {
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 24px;
  color: rgba(182, 188, 191, 1);
}

.footer-word-links__container {
  display: flex;
  gap: 30px;
}
.footer__content-home {
  margin-top: auto;
}

.footer-imgs__container {
  display: flex;
  gap: 30px;
}
.footer__content-TT {
}

.footer__content-gh-logo {
  background-image: url(../../assets/Vector.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.footer__content-li-logo {
  background-image: url(../../assets/linkedin-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 515px) {
  .footer {
    flex-direction: column-reverse;
  }

  .footer-links__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-word-links__container {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .footer__content-home {
    margin-top: auto;
    margin-left: 20px;
  }

  .footer__content-TT {
    margin-left: 20px;
  }

  .footer-imgs__container {
    display: flex;
    margin-bottom: 65px;
  }

  .footer__content-gh-logo {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .footer__content-fb-logo {
    background-image: url(../../assets/fb.svg);
    background-repeat: no-repeat;
  }

  .footer__content {
    margin-top: auto;
    color: rgba(182, 188, 191, 1);
  }
}
